.env
.venv
C:\AI-7-final-project-isaac-carasso\ideaToProd\.env
smart_budget_helper/*
Projects/*

ideaToProd/__pycache__/agent2_detailed_design.cpython-314.pyc
ideaToProd/__pycache__/agent5_test_execution.cpython-314.pyc
ideaToProd/__pycache__/agent4_unit_test_generation.cpython-314.pyc
ideaToProd/__pycache__/agent3_code_generation.cpython-314.pyc
.vscode/settings.json
