.env
.venv

C:\AI-7-final-project-isaac-carasso\ideaToProd\.env
smart_budget_helper/*
Projects/*
C:/AI-7-final-project-isaac-carasso/ideaToProd/__pycache__/*.*
*.zip
*.gif
ideaToProd/run_agentic_local_hourglass.py
